body {
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: white;
  /*url(../images/Ural-3313.jpeg);*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1700px;
}

p {
  color: black;
}
