body {
  font-family: 'PT Sans', sans-serif;
  background-image: url(../images/dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 700px;
  margin: 0 auto;
  padding-top: 70px;
}


p {
  font-size: 21px;
  line-height: 26px;
  font-family: 'PT Sans', 'Arial' sans-serif;
}

h1 {
  color: red;
  font-size: 30px;
  line-height: 1.4em;
  text-decoration: uppercase;
}

h1, h2, h3, p, ul, ol, blockquote {
    width: 700px;
    margin: 0 auto;
  }
  img {
  display: block;
  width: 1020px;
  margin: 80px auto;
}

img + h2 {
  margin-top: -1px;
}
img + p {
  margin-top: -3px;
}
a, a:visited {
  color: inherit;
}
p {
  margin-bottom: 1em;
  }
